<h1>Demo Student</h1>
dotnet aspnet-codegenerator controller -name StudentController -m Student -dc DemoMvc.Data.ApplicationDbContext --relativeFolderPath Controllers --useDefaultLayout --referenceScriptLibraries --databaseProvider sqlite