<h2>Dữ liệu sinh viên</h2>
<br>
<form asp-action="Index">
    <label>Mã sinh viên</label>
    <input type= "text" name="StudentID">
    <input type= "text" name="FullName" placeholder="Nhập tên sinh viên">
    <input type="submit" value="Gửi dữ liệu">

</form>
<br>
<br>
<h3>@ViewBag.massage</h3>
